

<h1>
  <%= @user.username %>
</h1>
<% toggle_string = @user.closed ? "Open account" : "Close account" %>
<%= link_to(toggle_string, toggle_closed_user_path(@user.id), method: :post, class: "btn btn-danger") if current_user && current_user.admin %>
<p>
  Has made <%= @user.ratings.length %>, average rating is <%= round(@user.average_rating) %>
</p>

<h2>
  Ratings
</h2>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %> 
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= edit_and_destroy_buttons(@user) %>
<%= link_to 'Back', users_path %>