<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.length %></p>

<h2>Top 5 Breweries</h2>
<%= render 'list', things: @top_breweries %>

<h2>Top 5 Beers</h2>
<%= render 'list', things: @top_beers %>

<h2>Top 3 Styles</h2>
<%= render 'list', things: @top_styles %>

<h2>Top 3 Users</h2>
<%= render 'list', things: @top_users %>

<h2>Latest ratings</h2>
<%= render 'list', things: @top_ratings %>

<p>
  <% if current_user %>
    <%= link_to 'New rating', new_rating_path, class:'btn btn-primary' %>
  <% end %>
</p>